"*":
  core:
    audioBeep: false
    telemetryConsent: "limited"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontSize: 12
    tabType: "soft"
  "exception-reporting":
    userId: "5d81f41a-d04c-10c8-7b6a-dab76b3b1b38"
  "platformio-ide-terminal":
    toggles:
      autoClose: true
  "terminal-plus":
    core:
      autoRunCommand: "/bin/zsh"
  welcome:
    showOnStartup: false
